In [4]:
## Libraries and Modules used 
import pandas as pd

In [5]:
## Import data set to notebook 
loan_data = pd.read_csv('/Users/noahanderson/Documents/GitHub/credit-lending-analysis/Data/Raw_Data/loan.csv', low_memory=False)

In [6]:
## Checking for basic features 
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
## Removing Unwanted Columns 
loan_data.drop(columns=['emp_title', 'verification_status', 'url', 'desc','title','zip_code','addr_state'], inplace=True)

In [13]:
## Exporting modified Data back to CSV 
output_path = "/Users/noahanderson/Documents/GitHub/credit-lending-analysis/Data/Processed_Data/column_modified_loan.csv"
loan_data.to_csv(output_path, index=False)